Asa_Pengeluaran_Mingguan.json
{
  "name": "My workflow 12",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f2c153d0-3890-431f-9cfb-d2b03313efb9",
      "name": "Setiap Hari Minggu"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yRS7vSTRGAgrAZ6FwnLLQfQL3ksdk0G0oP3PHXvtCfc",
          "mode": "list",
          "cachedResultName": "Data Dummy Catatan Keuangan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yRS7vSTRGAgrAZ6FwnLLQfQL3ksdk0G0oP3PHXvtCfc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yRS7vSTRGAgrAZ6FwnLLQfQL3ksdk0G0oP3PHXvtCfc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "af9dac91-36f0-4b1a-9f73-25bbb6c4d9eb",
      "name": "Ambil Log Pengeluaran",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ck7WGXdtms6VVtg3",
          "name": "Ambil Log Pengeluaran"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "057f24bf-0108-43f8-84ff-5116d08ecc01",
              "leftValue": "={{ $node[\"Filter 7 Hari & Format Teks\"].json.hasExpenses }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "7bff8d08-3305-4f7a-9d9b-11cc3fef3a4a",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst today = new Date();\ntoday.setHours(23, 59, 59, 999); // inklusif hari ini sampai akhir hari\n\nconst sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(today.getDate() - 7);\nsevenDaysAgo.setHours(0, 0, 0, 0);\n\nlet weeklyExpenses = [];\nlet formattedString = \"Data pengeluaran saya minggu ini:\\n\";\nlet hasExpenses = false;\n\nfor (const item of items) {\n  const rawTanggal = item.json.Tanggal; // format: \"13/04/2026\"\n  \n  // Parse manual DD/MM/YYYY → YYYY-MM-DD agar valid di semua engine\n  const [day, month, year] = rawTanggal.split(\"/\");\n  const expenseDate = new Date(`${year}-${month}-${day}`);\n\n  if (expenseDate >= sevenDaysAgo && expenseDate <= today) {\n    weeklyExpenses.push(item.json);\n    formattedString += `- ${item.json.Deskripsi}: Rp${item.json[\"Jumlah (IDR)\"]}\\n`;\n    hasExpenses = true;\n  }\n}\n\nreturn [{\n  json: {\n    promptData: formattedString,\n    hasExpenses: hasExpenses\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "3021ffb4-6820-484c-bbc1-47f85c933b22",
      "name": "Filter 7 Hari & Format Teks"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1072,
        -304
      ],
      "id": "468c9f20-8e94-4a35-8e80-f4870175106e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "5uEyhYt6xIOAviVl",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6155131672",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        -160
      ],
      "id": "e9da31a3-6770-4b90-b529-72afc94bf958",
      "name": "Pesan True",
      "webhookId": "57b02f97-4470-4ed5-8d67-13b834fbd6b8",
      "credentials": {
        "telegramApi": {
          "id": "Ffu1kmPXd1MBLPNy",
          "name": "Asa Pengeluaran Mingguan"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6155131672",
        "text": "Tidak ditemukan log pengeluaran untuk 7 hari terakhir.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        96
      ],
      "id": "b34931cd-5fe0-403a-b518-0a240bc4b13f",
      "name": "Pesan False",
      "webhookId": "59521fed-58d4-4fac-9e78-416db5fdbf5d",
      "credentials": {
        "telegramApi": {
          "id": "Ffu1kmPXd1MBLPNy",
          "name": "Asa Pengeluaran Mingguan"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analisis data pengeluaran berikut:\n{{ $node[\"Filter 7 Hari & Format Teks\"].json.promptData }}\n\nTugas Anda:\n1. Tulis ringkasan kebiasaan belanja saya minggu ini dalam bentuk paragraf singkat.\n2. Berikan 1 saran penghematan konkret yang paling masuk akal berdasarkan data tersebut.\n\nAturan Penulisan:\n- JANGAN gunakan simbol markdown seperti bintang (**), pagar (###), atau dash (-).\n- Gunakan bahasa manusia yang santai tapi profesional.\n- Langsung ke poin utama tanpa kalimat pembuka seperti \"Tentu, ini ringkasannya\".\n- Pisahkan antara ringkasan dan saran hanya dengan baris baru (enter).",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        912,
        -160
      ],
      "id": "69b36500-1b1c-4586-86e9-b06b4cc6e5e1",
      "name": "Analisis Pengeluaran Mingguan"
    }
  ],
  "pinData": {},
  "connections": {
    "Setiap Hari Minggu": {
      "main": [
        [
          {
            "node": "Ambil Log Pengeluaran",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Log Pengeluaran": {
      "main": [
        [
          {
            "node": "Filter 7 Hari & Format Teks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 7 Hari & Format Teks": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Analisis Pengeluaran Mingguan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pesan False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis Pengeluaran Mingguan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Pengeluaran Mingguan": {
      "main": [
        [
          {
            "node": "Pesan True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8f227ad2-c166-45c1-8eb9-9ff88e8c9d88",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7762260969ce1b1f607bc86cdcbb8007b0ded25e792ccdc3c7592b5a1230f59"
  },
  "id": "b3Yo0rxTF8Xj1VTM",
  "tags": []
}